<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="normal/base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title>View All Contacts</title>
</head>
<body>
<section>
    <!--    Message Block-->
    <div th:if="${session.message}" class="container">
        <div th:classappend="${'alert-'+session.message.type}" class="alert text-center">
            <span th:text="${session.message.content}"></span>
        </div>
        <th:block th:text="${#session.removeAttribute('message')}"></th:block>
    </div>
    <!--    Message Block End-->
    <div class="card mr-3 ml-3" th:if="${contacts}">
        <div class="card-body">
            <h1 class="text-center">All Contacts</h1>
            <div class="search-container my-3">
                <input onkeyup="search()" id="search-input" type="text" class="form-control" placeholder="Search your contacts"/>
                <div class="search-result">
                    <h1>Search Result</h1>
                </div>
            </div>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Work</th>
                    <th scope="col">Email Address</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="c : ${contacts}">
                    <!--<th scope="row">1</th>-->
                    <td>
                        <img class="profile-picture" src="" th:src="@{'/img/'+${c.image}}" alt="Profile Photo"/>
                        <span th:text="${c.name}"></span>
                    </td>
                    <td th:text="${c.work}"></td>
                    <td>
                        <a href="#" th:href="@{'/user/'+${c.cId}+'/contact'}">
                            <span th:text="${c.email}"></span>
                        </a>
                    </td>
                    <td th:text="${c.phone}"></td>
                    <td>
                        <a th:href="@{'/user/delete-contact/'+${c.cId}}" class="btn btn-danger btn-sm">Delete</a>
                        <!--<a href="#" th:onclick="|deleteContactById(${c.cId})|" class="btn btn-danger btn-sm">Delete</a>-->
                        <form class="mt-2" th:action="@{'/user/update-contact/'+${c.cId}}" method="post">
                            <button type="submit" class="btn btn-primary btn-sm">Update</button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
            <!--pagination-->
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li th:if="${currentPage != 0}" class="page-item">
                        <a class="page-link" th:href="@{'/user/view-contacts/'+${currentPage-1}}" href="#">Previous
                        </a>
                    </li>
                    <li th:classappend="${currentPage==i-1?'active':''}"
                        th:each="i : ${#numbers.sequence(1,totalPages)}" class="page-item">
                        <a th:href="@{'/user/view-contacts/'+${i-1}}" class="page-link" href="#">
                            <span th:text="${i}"></span>
                        </a>
                    </li>
                    <li th:if="${currentPage+1 != totalPages}" class="page-item">
                        <a class="page-link" th:href="@{'/user/view-contacts/'+${currentPage+1}}" href="#">Next
                        </a>
                    </li>
                </ul>
            </nav>
            <!--pagination end-->
        </div>
    </div>
    <h1 th:unless="${contacts}">You have not added any contact, Please add by clicking Add Contact button</h1>
</section>
</body>
</html>>