<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title>Reset Password</title>
</head>
<body>
<section>
    <!--    Message Block-->
    <div th:if="${session.message}" class="container">
        <div th:classappend="${'alert-'+session.message.type}" class="alert text-center">
            <span th:text="${session.message.content}"></span>
        </div>
        <th:block th:text="${#session.removeAttribute('message')}"></th:block>
    </div>
    <!--    Message Block End-->
    <div id="login">
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" style="height: 150px;" class="col-md-12">
                        <h3 class="mb-3 text-center">Reset Password</h3>
                        <form th:action="@{/reset-password}" method="post">
                            <div class="form-group">
                                <input type="password" required name="newPassword" class="form-control" placeholder="Enter new password"/>
                            </div>

                            <div class="container text-center">
                                <button type="submit" class="btn btn-success">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>